@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}
body{
    background-color: #fff !important;
}
.header{
    background-color: #22223b;
}
.header_1{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.right{
    margin-top: 10px;
    display: flex;
    width: 550px;
    align-items: center;
    justify-content: space-between;
}
.manzil{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.telefon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ish_vaqti{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon i{
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 25px;
}
.info h1{
    font-size: 13px;
}
.info p{
    font-size: 12px;
    color: #bbb;
}
.info h1,
.info p{
    line-height: 0.8;
}
.left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}
.left i{
    font-size: 20px;
    color: white;
    transition: all .3s ease;
}
.left i:hover{
    font-size: 30px;
}
@media (max-width: 768px){
    .header{
        display: none;
    }
}

/* navbar */
.navbar-brand img{
    border-radius: 30px;
    height: 60px;
}
.navbar-brand{
    display: flex;
}
.navbar-brand h1{
    margin-top: 15px !important;
    font-size: 25px;
}
.navbar-brand h1 a{
    color: #022890;
    text-decoration: none;
}
.navbar-brand h1 a:hover{
    color: black;
    text-decoration: underline;
}
.navbar-brand p{
    font-weight: 700;
}
.navbar-brand .info{
    margin-left: 10px !important;
}

.nav-item a{
    font-weight: 700;

}
.nav-item a:hover{
    color: rgb(14, 14, 172) !important;
}
.active{
    color: rgb(19, 19, 223) !important;
    border-bottom: 2px solid rgb(9, 9, 173) !important;
}
.nav-link{
    color: black !important;
}
.navbar li{
    cursor: pointer !important;
}
/* navbar */
/* sub header */
@media (max-width: 768px){
    .slide{
        display: none;
    }
    .asosiy{
        display: block !important;
    }
}

.asosiy{
    background: rgba(0,0,0, .6) url(./img/sub-header.jpg);
    display: none;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
}
.asosiy .row{
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
}
.asosiy h1{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-left: 40px;
}
/* sub header */

/* firs section */

.first_section{
    text-align: center;
}
.first_section h1{
    font-size: 30px;
    font-weight: 650;
    color: #2E5CA8;
}
.first_section h2{
    font-size: 30px;
    font-weight: 650;
}
.first_section  h3{
    font-size: 20px;
    text-align: start;
    line-height: 1.5;
}
h3 a{
    transition: all .3s ease;
}
h3 a:hover{
    color: black;
}
h3 span a{
    color: black;
}
/* firs section */

/* news */

.news h1{
    color: #2E5CA8;
}
.news ul li a{
    font-weight: 700;
    text-decoration: none;
    color: #022890;
}
.news ul li a:hover{
    text-decoration: underline;
    color: black;
}
.news ul li{
    line-height: 2;
}
/* news */
/* manbalar */

.card{
    margin-right: 20px;
    border: 3px solid rgb(7, 7, 133) !important;
    border-radius: 0 !important;
    margin-bottom: 20px;
    padding: 0 !important;
    transition: all .3s ease;
}
.card:hover{
    transform: scale(1.1);
}
.light1{
    position: relative;
}
.light{
    transition: all .3s ease;
}
.card:hover .light{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
}
.card a{
    position: absolute;
    height: 100%;
    width: 100%;
}
/* manbalar */

/* footer */
.footer{
    background-color: #22223b;
    padding: 50px 0;
}
.markaz_haqida h1{
    color: white;
    font-size: 20px;
    line-height: 2;
}
.markaz_haqida p{
    line-height: 1.7;
    color: silver;
}
.markaz_haqida  a{
    text-decoration: none;
    color: white;
    list-style: none;
    line-height: 1.8;
}
.markaz_haqida a:hover{
    text-decoration: underline;
    color: white !important;
}

.navigatsiya h1{
    line-height: 2;
    color: white;
    font-size: 20px;    
}
.link a{
    text-decoration: none;
    color: silver;
}
.link{
    padding: 10px 0;
    width: 100%;
    border-bottom: 2px solid silver;
}
.link a:hover{
    color: silver;
    text-decoration: underline;
}

.aloqa h1{
    line-height: 2;
    font-size: 20px;
    color: white;
}
.aloqa h2{
    font-size: 15px;
    color: rgb(241, 235, 235);
}
.aloqa p{
    color: silver;
}

.map h1{
    line-height: 2;
    color: white;
    font-size: 20px;
}







@media (max-width: 1200px){
    #map{
        width: 200px !important;
    }
}
@media (max-width: 992px){
    #map{
        height: 300px !important;
    }
}
@media (max-width: 830px){
    #map{
        width: 150px !important;
    }
}
@media (max-width: 576px){
    #map{
        width: 100% !important;
        height: 400px !important;
    }
}


.muallif{
    padding-top: 70px;
    background-color: #22223b;
    padding-bottom: 10px;
}
.muallif .malumot{
    display: flex;
    align-items: center;
}
.muallif a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.muallif h1{
    color: white;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}
.muallif a:hover{
    color: rgb(9, 9, 143);
    text-decoration: underline;
}

.muallif .ikon{
    text-align: right;
}
.muallif .ikon i{
    font-size: 17px;
    margin-right: 30px;
    transition: all .3s ease;
}
.muallif .ikon  i:hover{
    color: blue;
}
/* footer */


